.side_bar
  .side_bar__user
    .side_bar__user_name
      masa
    .side_bar__icons
      =link_to "#", class: "side_bar__icon" do
        %i.fas.fa-edit
        %i.fas.fa-cog
  .side_bar__group-list
    %h1 techcamp
    %h2 まだメッセージがありません 