.main_chat__goroup-info{
  height: 100px;
  width: calc(100vw - 300px);
  background-color: #ffffff;
  border-bottom-color: #eeeeee
}

.main_chat__message-list {
  height: calc(100vh - 190px);
  width: calc(100vw - 300px);
  background-color: #fafafa;
}

.main_chat__message-info {
  height: 90px;
  width: calc(100vw - 300px);
  background-color: #d2d2d2
}